div{
    display: flex;
    flex-direction: column;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Ahem{
    color: aqua;
    padding-bottom: 50px;
}

#Applause{
    color: blueviolet;
    padding-bottom: 50px;
}

#Blip{
    color: chocolate;
}
