div{
    display: flex;
    flex-direction: column;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Ahem{
    color: aqua;
}

#Applause{
    color: blueviolet;
}

#Blip{
    color: chocolate;
}
