div{
    display: flex;
    flex-direction: column;
}

header{
    transform: translate(100px);
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Ahem{
    color: aqua;

}

#Applause{
    color: blueviolet;
    
}

#Blip{
    color: chocolate;
}
